<h1>Insurance letter Management</h1>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>hash</th>
      <th>status</th>
      <!-- <th>letter Amount</th>
      <th>Operations</th> -->

    </tr>

    <tr *ngFor="let letter of letters">
      <td>{{ letter.hash }}</td>
      <!-- <td>{{ letter.number }}</td>
      <td>{{ letter.amount }}</td> -->
      <td>

      </td>
    </tr>
  </table>
</div>

$hash = mysqli_real_escape_string($con, trim($request->hash));
$status = mysqli_real_escape_string($con, trim($request->status));

$isMejdunarond = mysqli_real_escape_string($con, trim($request->isMejdunarond));

$r_ko_n = mysqli_real_escape_string($con, trim($request->receiverAddress->komu->name));
$r_ko_s = mysqli_real_escape_string($con, trim($request->receiverAddress->komu->surname));
$r_ko_o = mysqli_real_escape_string($con, trim($request->receiverAddress->komu->otchestvo));

$r_ku_st = mysqli_real_escape_string($con, trim($request->receiverAddress->kuda->streetType));
$r_ku_sn = mysqli_real_escape_string($con, trim($request->receiverAddress->kuda->streetName));
$r_ku_noh = mysqli_real_escape_string($con, trim($request->receiverAddress->kuda->numberOfHouse));
$r_ku_nok = mysqli_real_escape_string($con, trim($request->receiverAddress->kuda->numberOfKorpus));
$r_ku_nof = mysqli_real_escape_string($con, trim($request->receiverAddress->kuda->numberOfFlat));

$r_index = mysqli_real_escape_string($con, trim($request->receiverAddress->index));

$r_npn_o = mysqli_real_escape_string($con, trim($request->receiverAddress->nasPunktName->oblast));
$r_npn_r = mysqli_real_escape_string($con, trim($request->receiverAddress->nasPunktName->region));
$r_npn_tn = mysqli_real_escape_string($con, trim($request->receiverAddress->nasPunktName->townName));
$r_npn_tot = mysqli_real_escape_string($con, trim($request->receiverAddress->nasPunktName->typeOfTown));

$o_ok_n = mysqli_real_escape_string($con, trim($request->otpravitelAddress->otKogo->name));
$o_ok_s = mysqli_real_escape_string($con, trim($request->otpravitelAddress->otKogo->surname));
$o_ok_o = mysqli_real_escape_string($con, trim($request->otpravitelAddress->otKogo->otchestvo));

$o_a_o = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->oblast));
$o_a_r = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->region));
$o_a_tn = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->townName));
$o_a_tot = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->typeOfTown));

$o_a_st = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->streetType));
$o_a_sn = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->streetName));
$o_a_noh = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->numberOfHouse));
$o_a_nok = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->numberOfKorpus));
$o_a_nof = mysqli_real_escape_string($con, trim($request->otpravitelAddress->adress->numberOfFlat));

$dateAndTimeOfStartWay = mysqli_real_escape_string($con, (int)$request->dateAndTimeOfStartWay);